
body{
    font-family: 'Raleway' sans-serif !important;
}
p {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600 !important;
    background: linear-gradient(90deg, #6366f1 0%, #a855f7 50%, #ec4899 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }